.sign-up {
    display: flex;
    flex-direction: column;
    width: 32rem;
    justify-content: center;

    .title {
        text-align: center;
    }
    .message-success {
        color: orange;
    }
}
